:root {
    --main-text-color: #F178B6;
    --accent-text-color: #FCDDEC;
    --base-text-color: White;
    --main-bg-color: #F178B6;
    --accent-bg-color: #FCDDEC;
    --base-bg-color: White;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: var(--main-bg-color);
    float: left;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    float: right;
    width: 70%;
    text-align: center;
    color: var(--main-text-color);
}

main h1 {
    margin-top: 33%;
    font-size: 5rem;
}

main h2 {
    font-size: medium;
}

main svg {
    margin-top: auto;
    color: var(--accent-text-color);
    mix-blend-mode: multiply;
}

footer {
    background-color: var(--accent-bg-color);
    width: 100%;
    text-align: center;
    color: var(--base-text-color);
}

.content-container::before {
    content: '';
    position: absolute;
    right: 0%;
    width: 0;
    height: 0;
    z-index: -1;
    border-style: solid;
    border-width: 48.7vh 35vw;
    border-color: var(--accent-bg-color) var(--base-bg-color) var(--base-bg-color) var(--accent-bg-color);
}

.content-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: auto;
    color: var(--base-text-color);
}

.menu-list-container {
    flex: 1;
    margin-top: 100%;
}

.menu-list-container li {
    margin-bottom: 20%;
    border-bottom: 1px solid;
    transition: 1s;
}

.menu-list-container a {
    color: var(--base-text-color);
    text-decoration: none;
    margin-left: 5%;
    display: block;
    transition: 1s;
}

.menu-list-container li:hover {
    background-color: var(--accent-bg-color);
    color: var(--main-text-color);
}

.menu-list-container a:hover {
    color: var(--accent-text-color);
    color: var(--main-text-color);
}

.icon-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 70%;
}

.icon-container li {
    width: 33%;
    text-align: center;
}

.icon-container img {
    object-fit: cover;
    width: 32px;
}

.icon-container img:hover {
    filter: invert(100%);
    transition: 1s;
}